<div class="row">
  <div class="col-md-6 offset-3">
    <form (ngSubmit)="OnSubmit()" #f="ngForm">
      <div id="user-data">
          <div class="form-group">
            <label for="Username">Name</label>
            <input type="text" class="form-control" name="Username" ngModel required #namecheck="ngModel">
            <span class="help-block" *ngIf="!namecheck.valid && namecheck.touched">Enter Name</span>
          </div>
          <div class="form-group">
            <label for="Email">Email</label>
            <!--#emailcheck="ngModel" is local ref hold additional info about control by accessing it we can show messageError-->
            <input type="email" class="form-control" name="Email" ngModel required email #emailcheck="ngModel">
            <span class="help-block" *ngIf="!emailcheck.valid && emailcheck.touched">Enter Correct email</span>
          </div>  
        </div>  
        <div class="form-group">
            <div class="radio" *ngFor="let semester of Semesters">
              <label>
              <input type="radio" name="semester" ngModel [value]="semester" required>{{semester}}</label>
            </div>
        </div>
        <div class="form-group">
        <label for="Gender">Gender</label> 
            <select id="Gender"   name="Gender" [ngModel]="DefaultGender" class="form-control" required>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Others">Any Others</option>
            </select>   
          </div>
          <!--[disabled]="!f.valid ,disable when form is not valid taking reference f of form check valid or not-->
              <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>     
    </form>
  </div>
</div>